<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.named_data.jni.psync">

    <!--Internet permission is required as we need to connect NFD via tcp://127.0.0.1-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--for accessing .ndn folder-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

</manifest>